/* Loader for loader page */
#loading-page {
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	position: fixed;
	display: block;
	opacity: 0.7;
	background-color: #fff;
	background: black;
	z-index: 999999999999;
	text-align: center;
}
#loading-page-img{
	position: absolute;
	top: 40%;
	left: 40%;
	z-index: 100;
}
/* Loader for forms */
form{position:relative;}
.block-loading {z-index:9999;background: url("loader.gif") #ddd center center no-repeat;position: absolute;width:100%;height:100%;z-index:999;opacity:0.4; border-radius: 5px;}
.block-form {z-index:9999;background: #ddd;position: absolute;width:100%;height:100%;z-index:999;opacity:0.4;}
.block-list{width:90%; height:80%}
.fixed_message{
	position: absolute;
	top: 5px;
	width: 100%;
    z-index: 999999;	
}