.image-crop{
}
#preimagen{
    max-width: 200px;
    height: auto;
    border: 1px solid black;
}
#prelogo{
    max-width: 200px;
    height: auto;
    border: 1px solid black;
}

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 200ms ease-in;
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 80%;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #fff;
    /*background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);*/
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
 

.close:hover { background: #00d9ff; }

.imgContainerMuroGallery{
    padding: 0;
    width: 160px;
    height: 160px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #2F4050;
    margin: 5px;
}

.imgMuroGAllery{
    width: 100%;
    height: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: auto;

}

.imgMuroGAllery:hover{
    opacity: 0.8;
}

.imgMuroGAllery-btn{
    width: 160px;
    height: 160px;
    margin: 5px;
    background-color: gray;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.imgMuroGAllery-btn > a{
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    font-size: 110px;
    color: #fff;
}
.imgOptionsMuroGallery{
    background-color: rgba(60, 60, 60, 0.7);
    width: 100%;
    height: 30px;
    z-index: 10;
    position: absolute;
    margin-top: 130px;
    -webkit-border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
    display: none;
}

.iconUploadMuroGallery{
    color: #4ADF8E;
    font-size: 25px;
    margin-left: 10px;
    margin-top: 5px;
}

.modal_content{

}

.iconDeleteMuroGallery{
    color: #CE0000;
    font-size: 25px;
    margin-left: 10px;
    margin-top: 5px;
}

#Labelc {
    text-align: right !important;
}

#LabelP{
    padding-left: 0px !important;
}

  td.fc-day.fc-past {
        background-color: #EEEEEE;
    }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.tooltip_templates { display: none; }